<div class="row clearfix align-items-center">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="card-body">
                <form class="form-horizontal" ng-submit="Load(pagerOptions.page)">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" class="form-control" name="Description" placeholder="Filter by Description" ng-model="Criteria.Description"/>
                            </div>
                            <div class="col-2 text-right">
                                <button class="btn btn-primary" ng-click="Load()"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th><button class="btn btn-primary" ng-click="New()"><i class="fa fa-plus-circle"></i> Add</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in list">
                                <td ng-bind="row.Description"></td>
                                <td>
                                    <button class="btn btn-warning" ng-click="Edit(row)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" ng-click="Delete(row)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <sh-pagination page="{{pagerOptions.page}}" pages-count="{{pagerOptions.pagesCount}}" total-count="{{pagerOptions.totalCount}}" page-changed="pagerOptions.pageChanged(page)"></sh-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
